{%extends 'base.jinja'%}

{%block title%} Login {%endblock%}

{%block content%}

<div class="w-full max-w-xs mx-auto">
    <form action="{{url_for('auth.login')}}" method="post" class="bg-base-200 mt-50 shadow shadow-blue-500 rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-white text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input type="text" id="username" name="username" class="input input-info input-sm w-full" />
        </div>
        <div class="mb-6">
            <label class="block text-white text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input type="password" name="passwd" id="password" placeholder="*************" class="input input-info input-sm w-full" />
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="btn btn-info btn-block font-bold">Iniciar Sesión</button>
        </div>
    </form>
</div>

{%endblock%}