{%extends 'base.jinja'%}

{%block title%} Enlaces Maliciosos {%endblock%}

{%block content%}
<br><br>
<div class="navbar rounded-lg shadow shadow-blue-500 bg-base-100 shadow-sm">
    <form method="get" action="{{url_for('elinks.search')}}" class="mx-auto">
        {%if search == 'None'%}
        <input type="text" name="text" placeholder="Buscar" class="input input-info" />
        {%else%}
        <input type="text" value="{{search}}" name="text" placeholder="Buscar" class="input input-info" />
        {%endif%}
        <button type="submit" class="btn btn-info">Buscar</button>
    </form>
</div>

<div class="mt-30 shadow shadow-blue-500 overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="font-bold">Total: {{total_links}}</span>
                </th>
                <th>Url</th>
                <th>
                    <a type="button" class="btn btn-xs btn-circle" href="{{url_for('elinks.reload_evil_domains')}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                        </svg>
                    </a>
                    <a type="button" onclick="modal_add_domain.showModal()" class="btn btn-success btn-xs btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for link in evillinks%}
            <tr>
                <th>{{link.id}}</th>
                <td>{{link.domain}}</td>
                <td>
                    <a type="button" href="{{url_for('elinks.delete_evil_link', id=link.id)}}"
                        class="btn btn-error btn-sm btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%if searching%}
<div class="join shadow shadow-blue-500 mt-10">
    {%if evillinks.has_prev%}
    <a type="button" href="{{url_for('elinks.search', page=evillinks.prev_num, text=search)}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{evillinks.page}}</button>
    {%if evillinks.has_next%}
    <a type="button" href="{{url_for('elinks.search', page=evillinks.next_num, text=search)}}" class="join-item btn">»</a>
    {%endif%}
</div>
{%else%}
<div class="join shadow shadow-blue-500 mt-10">
    {%if evillinks.has_prev%}
    <a href="{{url_for('elinks.index', page=evillinks.prev_num)}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{evillinks.page}}</button>
    {%if evillinks.has_next%}
    <a href="{{url_for('elinks.index', page=evillinks.next_num)}}" class="join-item btn">»</a>
    {%endif%}
</div>
{%endif%}

<dialog id="modal_add_domain" class="modal">
    <div class="modal-box shadow shadow-blue-500">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold">Nuevo Dominio Malicioso</h3>
        <hr />
        <br>
        <form action="{{url_for('elinks.add_evil_link')}}" method="post">
            <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-password">
                Url
            </label>
            <input type="url" name="domain" class="input input-info input-sm w-full" required placeholder="https://"
                value="https://" pattern="^https?:\/\/([a-zA-Z0-9]([a-zA-Z0-9\-].*[a-zA-Z0-9])?\.)+[a-zA-Z].*$"
                title="Tiene que ser una URL válida" />
            <br><br>
            <button type="submit" class="btn btn-sm btn-block btn-info">Agregar</button>
        </form>
    </div>
</dialog>
{%endblock%}